[submodule "clap"]
	path = clap
	url = https://github.com/free-audio/clap
[submodule "clap-helpers"]
	path = clap-helpers
	url = https://github.com/free-audio/clap-helpers
[submodule "fluidsynth"]
	path = fluidsynth
	url = https://github.com/FluidSynth/fluidsynth
[submodule "choc"]
	path = choc
	url = https://github.com/cannerycoders/choc
